<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= @participant.name %>!</h1>
    <p>Woman who code: Saturday, December 13th 5:00pm at MOB</p>
  </body>
</html>